<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, https://imransdesign.com/">
	<link rel="shortcut icon" type="image/png" href="/assets/images/Imagen2.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
    <title><%= titulo %></title> 
</head>
<header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/dise침o.ejs'); %>
</header>

<header>
    <%- include('./layout/dise침oUsuariosRegistrados.ejs'); %>
</header>
<body>
<div class="cart-section mt-50 mb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Direcci칩n</th>
                                <th>Edad</th>
                                <th>Fecha de nacimiento</th>
                                <th>Telefono</th>
                                <th>Correo electr칩nico</th>
                                <th>Rol</th>
                                <th>Nombre de usuario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% consultar_User.forEach(user => { %>
                                <tr class="table-head-row">
                                    <td><%= user.ID_Usuario %></td>
                                    <td><%= user.Nombre %></td>
                                    <td><%= user.Apellido %></td>
                                    <td><%= user.Direccion %></td>
                                    <td><%= user.Edad %></td>
                                    <td><%= user.Fecha_nacimiento %></td>
                                    <td><%= user.Telefono %></td>
                                    <td><%= user.Correo %></td>
                                    <td><%= user.Rol %></td>
                                    <td><%= user.Nombre_usuario %></td>
                                    <td>
                                        <a href="/formularioActualizacion?id=<%= user.ID_Usuario %>&nombre=<%= user.Nombre %>&apellido=<%= user.Apellido %>&direccion=<%= user.Direccion %>&edad=<%= user.Edad %>&fechaNacimiento=<%= user.Fecha_nacimiento %>&telefono=<%= user.Telefono %>&correo=<%= user.Correo %>&rol=<%= user.Rol %>&nombreUsuario=<%= user.Nombre_usuario %>&contrasena=<%= user.Contrasena %>">Actualizar</a>
                                        <a href="/usuariosRegistrados/<%= user.ID_Usuario %>">Borrar</a>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <%- include('./layout/footer.ejs'); -%>
</footer>
</html>